<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecust.mapper.DrugMapper">

    <select id="searchEffect" resultType="Drug">
        select * from   drug where effect like  CONCAT('%',#{effect},'%' )
    </select>

    <select id="searchName" resultType="Drug">
        select * from   drug where name like  CONCAT('%',#{name},'%' )
    </select>

    <select id="showDrug" resultType="Drug">
        select * from   drug  order by rand() limit 5
    </select>

    <select id ="get" resultType="Drug">
        select * from drug where id=#{id}
    </select>

</mapper>